<div class="p-8 mt-8 flex justify-center">
  <form class="shadow w-4/12 p-4">
    <div class="flex">
      <mat-form-field class="field">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="date"
          [(ngModel)]="createReception.date"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="field">
        <mat-label>Select Status</mat-label>
        <mat-select [(ngModel)]="createReception.status" name="status">
          @for (v of statusOptions; track v.value) {
          <mat-option [value]="v.value">{{ v.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="field">
        <mat-label>Select Visitor</mat-label>
        <mat-select [(ngModel)]="VisitorId" name="Visitors">
          @for (v of Visitors; track v.id) {
          <mat-option [value]="v.id">{{
            v.firstName + " " + v.lastName
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="SaveButton">
      <button mat-raised-button color="primary" (click)="create()">Save</button>
    </div>
  </form>
</div>
