<div class="ReceptionContainer">
  <table mat-table [dataSource]="receptions" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let reception">{{ reception.id }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let reception">{{ reception.date }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let reception">
        {{ getStatusText(reception.status) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let reception">
        <button mat-icon-button (click)="showDetails(reception.id)">
          <mat-icon>details</mat-icon>
        </button>
        <button mat-icon-button (click)="editReception(reception.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteReception(reception.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="flex justify-end mt-4">
    <button mat-raised-button color="primary" (click)="createReception()">
      Create Reception
    </button>
  </div>
</div>
