<div class="flex mt-8 justify-center">
  <mat-card class="shadow w-4/12">
    <mat-card-header>
      <mat-card-title>Visitor Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="p-8">
        <p class="text-gray-700"><b>ID:</b> {{ detailedVisitor.id }}</p>
        <p class="text-gray-700">
          <b>First Name:</b> {{ detailedVisitor.firstName }}
        </p>
        <p class="text-gray-700">
          <b>Last Name:</b> {{ detailedVisitor.lastName }}
        </p>
        <p class="text-gray-700"><b>Email:</b> {{ detailedVisitor.email }}</p>
        <p class="text-gray-700">
          <b>Phone Number:</b> {{ detailedVisitor.phoneNumber }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
